@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --gradient: linear-gradient(to bottom right, #6448fe 0%, #600594 100%);;;
  --error-inputs: #ff5252;
  --white: #fff;
  --l-grayish-violet: #dedddf;
  --d-grayish-violet: #8e8593;
  --vd-grayish-violet: #21092f;
  --font-ppal: 'Space Grotesk', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--font-ppal);
  font-size: 18px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--ppal-color);
  background-color: var(--vl-grayish-blue);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

/* Eliminamos los botones de los input number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

/* CARD */
body {
  display: flex;
}

.card-container {
  display: flex;
  height: 100vh;
  background-color: var(--white);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  background: url(images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card .front-card,
.card .back-card {
  position: relative;
  top: 0;
  left: 30%;
  background: url(images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  width: 400px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
}

.card .back-card {
  position: relative;
  left: 45%;
  background: url(images/bg-card-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: flex-end;
}

.back-card h5 {
  padding: 1rem;
  letter-spacing: 2px;
  align-self: flex-end;
}

.card-logo {
  height: 50%;
}

.card-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card-info h1 {
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 2px;
  width: 100%;
}
.card-info h3{
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 1rem 0 0;
}

/* FORM */
.card-form,
.state-form {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
  padding: 5rem;
}

.card-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.card-form form label {
  font-size: 12px;
  margin-bottom: 3px;
  cursor: pointer;
  color: var(--vd-grayish-violet);
}

.card-form form input {
  padding: .5rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  font-family: var(--font-ppal);
  border: 1px solid var(--l-grayish-violet);
  outline: none;
  color: var(--vd-grayish-violet);
}

.card-form form input::placeholder {
  font-family: var(--font-ppal);
  letter-spacing: 1px;
  color: var(--d-grayish-violet);
}

.card-form form input:focus {
  border: 1px solid transparent;
  outline: 1px solid #600594;
}

.card-form form button,
.state-form button {
  width: 100%;
  padding: .7rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--white);
  background-color: var(--vd-grayish-violet);
  transition: background, transform .2s ease;
}

.card-form form button:hover,
.state-form button:hover {
  transform: scale(1.05);
  background-color: var(--d-grayish-violet);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expirated-card {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.expirated-card input {
  width: 45%;
  margin-right: .2rem;
}

.security-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

/* STATE */
.card-form.completed {display: none;}

.state-form.completed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.state-form h1 {
  text-transform: uppercase;
  margin: 2rem 0 1rem;
  letter-spacing: 3px;
  color: #600594;
}

.state-form h5 {
  margin-bottom: 2rem;
  color: var(--d-grayish-violet);
}

.state-form {display: none;}